.packRow {
  transition: all .2s ease;

  &:hover {
    cursor: pointer;
    transform: scaleY(1.01) scaleX(1.01) translateY(0);
    background-color: #ffffff;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
    transition: transform .2s ease;
    position: relative;
    z-index: 1;
  }

  td {
    height: 30px;
    border-spacing: 0;
    border: 0;
    margin: 0;
    padding: 7px 15px;
    font-size: 13px;
    border-bottom: 1px solid #999999;
  }

  .tdItemBlock {
    .tdItem {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      white-space: nowrap;

      .name {
        font-weight: 600;
        &.account {
          width: calc(60%);
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .subname {
        color: #535353;
        &.terminal {
          width: calc(60%);
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .status {
    color: white;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px 10px;
    min-width: 89px;
    text-align: center;

    &.new {
      background-color: #A83638;
    }

    &.started {
      background-color: #2861A1;
    }

    &.completed {
      background-color: #359626;
    }

    &.assigned_to {
      background-color: #BA7F1A;
    }

    &.declined {
      background-color: #1C1C1C;
    }
  }

}
