.back {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  font-size: 20px;
  border: 2px solid #f5dfa4;
  width: 400px;
  cursor: pointer;
  transition: all 0.3s ease;;

  &:hover {
    background-color: #caaf6e;
  }
}