.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 15px 0;

  .page {
    color: black;
    height: 36px;
    min-width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border: solid 2px #f2bf93;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    &.active,
    &:hover {
      background-color: #f0a540;
      border-color: #f0a540;
    }
  }
  .navPageButton {
    min-width: 80px;
    border-radius: 18px;
  }
}